<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GCP_API_KEY</key>
	<string>$(GCP_API_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Light.ttf</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Wir benötigen Zugriff auf dein Mikrofon, um deine Mahlzeiten per Spracheingabe zu erfassen.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Wir verwenden Spracherkennung, um deine diktierten Mahlzeiten in Text umzuwandeln.</string>
</dict>
</plist>
